/* 
总体样式
 */
 .container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 840px;
}
 [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.span12 {
  width: 840px;
}
.jc-demo-box {
  text-align: left;
  margin: 2em auto;
  background: white;
  border: 1px #bbb solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  padding: 1em 2em 2em;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
#preview-pane .preview-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.jcrop-holder #preview-pane {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 6px;
    position: absolute;
    right: -280px;
    top: 10px;
    z-index: 2000;
}
.jcrop-holder img, img.jcrop-preview {
    max-width: none;
}

/*添加图片按钮样式*/
a{text-decoration:none;} 
.btn_addPic{ 
display: block; 
position: relative; 
width: 122px; 
height: 39px; 
overflow: hidden; 
border: 1px solid #EBEBEB; 
background: none repeat scroll 0 0 #F3F3F3; 
color: #999999; 
cursor: pointer; 
text-align: center; 
} 
.btn_addPic span{display: block;line-height: 39px;} 
.btn_addPic em { 
background: 0 0;
display: inline-block; 
width: 16px; 
height: 15px; 
overflow: hidden; 
margin: 10px 5px 10px 0; 
line-height: 20em; 
vertical-align: middle; 
} 
.filePrew { 
display: block; 
position: absolute; 
top: 0; 
left: 0; 
width: 140px; 
height: 39px; 
font-size: 100px; /* 增大不同浏览器的可点击区域 */ 
opacity: 0; /* 实现的关键点 */ 
filter:alpha(opacity=0);/* 兼容IE */ 
} 
 
 
 
 




