@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; font-family:'Microsoft YaHei','微软雅黑', "SimSun",Arial,sans-serif;}
html,body{ -webkit-text-size-adjust:none;}
body, nav, dl, dt, dd, p, h1, h2, h3, h4, ul, ol, li, input, button, textarea, footer { margin: 0; padding: 0;}
.dis{ display:none;}
em,i{ font-style:normal;}
body { font: 16px/1.5 'Microsoft YaHei','微软雅黑', "SimSun",Arial,sans-serif; color: #333; background:#F8F8F8; -webkit-text-size-adjust: none; min-width: 320px; overflow-x:hidden; position: relative;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family:'Microsoft YaHei','微软雅黑', "SimSun",Arial,sans-serif;}
form {display: inline;}
ul, ol,li{ list-style: none}
a { text-decoration: none; color: #555555;}
a:hover, a:active, a:focus { color:#30AF37; text-decoration: none;}
a:active { color: #aaa;}
.clear{ clear:both;}
img { vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
button, input, select, textarea { font-size: 100%; vertical-align: middle; outline: none;}
textarea { resize: none}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer;-webkit-appearance: button; -moz-appearance: button;}

button::-moz-focus-inner, input::-moz-focus-inner { padding:0; border:0;}
table { border-collapse: collapse; border-spacing: 0;}

/*reset*/
/*html{font-size:16px;}*/
img,object{max-width: 100%;}
body{margin:0 auto; width:100%; height:auto; overflow:auto;font-family: "Microsoft Yahei","STXihei","Helvetica Neue",Arial,Helvetica,sans-serif,Lato; font-size:62.5%; color:#6b6b6b;
	background:#fff;}
#nobg{ background:none;}
.nobr{ border:none !important;}
.nobr_r{ border-right:none !important;}
.nobr_l{ border-left:none !important;}
.nobr_b{ border-bottom:none !important;}
.no_left{ margin-top:0 !important;}
.no_lef11{ margin-left:0 !important;}
.no_back{ background:none !important;}
input,label{ vertical-align:middle;}
.fl{ float:left;}
.fr{ float:right;}

.sy_wap{ width:100%; margin:0 auto; max-width:640px;}
.sy_wap_cnter{float:left; width:100%; max-width:640px; margin-bottom:69px;}
.sy_top{ width:100%; height:45px; padding:4px 0; position:relative; background:#ec5252;}
.sy_head1{ width:100%; height:45px; position:relative; background:#ec5252; max-width:640px; position:fixed; top:0px; margin:0 auto; font-size:1.3em; z-index:1000;}
.sy_head1 a.sy_head_a1{ position:absolute; top:0px; left:5px; width:14px; height:45px; line-height:45px; background:url(../images/w_t_r.png) no-repeat center; background-size:14px auto; display:inline-block;}
.sy_head1 h2{ line-height:45px; text-align:center; padding:0 10px; font-weight:normal; color:#fff; font-size:1.4em;}
.sy_head1 a.sy_hea2{ position:absolute; top:0px; right:5px;display:inline-block; line-height:45px; color:#fff;}
header{ margin-bottom:45px;}

/*我的收益*/

.sy_kk{ width:100%; font-size:1.3em; color:#999;}
.sy_kk_1{ padding:15px 5px 0 5px; text-align:right; font-size:1em;}
.sy_kk_1 a{ border:1px solid #ec5252; padding:3px 6px; border-radius:4px; color:#fff; background:#ec5252;}
.sy_kk_1 a:hover{ background:#fd9534; color:#fff;}

.sy_kk h1{ font-size:1.2em; font-weight:normal; color:#555; padding:20px 0 0 0; text-align:center;}
.sy_kk h2{ font-size:3.5em; color:#ec5252;text-align:center;}
.sy_kk_2{ margin-top:10px; width:100%; overflow:hidden;}
.sy_kk_2 span{ width:46%; padding:0 1.5%; font-size:1em; color:#999; display:inline-block; float:left;}
.sy_kk_2 span i{ color:#fd9534; font-size:1.6em;}
.sy_kk_2 .sy_kk_2s1{ border-right:1px solid #d1d1d1; text-align:right;}
.sy_kk_2 .sy_kk_2s2{text-align:left;}
.sy_kk h3{ font-size:1.1em; font-weight:normal; color:#999; text-align:center; height:30px; line-height:30px; position:relative; margin-top:30px;}
.sy_kk h3 i{ width:100%; height:1px; background:#d1d1d1; position:absolute; top:15px; left:0px; display:inline-block; z-index:-1;}
.sy_kk h3 span{ background:#fff; padding:0 5px; display:inline-block;}
.sy_kk_3{ font-size:1.1em; color:#999; text-align:center; line-height:22px; margin-top:15px; color:#555;}
.sy_kk_3 span{ border:1px solid #999; border-radius:13px; padding:2px 15px; margin:0 6px; font-size:0.9em;}
.sy_txj{ width:100%; height:40px; position:fixed; bottom:0px; max-width:640px; z-index:1000; font-size:1.3em;}
.sy_txj a{ background:#dfdddd; line-height:40px; height:40px; text-align:center; width:100%; display:inline-block; color:#333; font-size:1.2em;}
.sy_txj a:hover{ background:#f02220; color:#fff;}
.sy_txj_1 a{ background:#f02220; color:#fff;line-height:40px; height:40px; text-align:center; width:100%; display:inline-block; font-size:1.2em;}
.sy_tx_a{ margin-top:30px; padding:0 10px; font-size:1.3em; text-align:center; }
.sy_tx_a a{ background:#ec5252; display:inline-block; width:100%; height:35px; line-height:35px; text-align:center; border:1px solid #ec5252; font-size:1.2em; color:#fff; border-radius:5px; margin-top:15px;}
.sy_tx_a a.sy_tx_a2{background:#fff; border:1px solid #b5b5b5; color:#000; }
.sy_tx_a a:hover{ background:#890202; color:#fff; border:1px solid #890202;}
.sy_cj_a{ margin-top:15px; line-height:30px; text-align:center; font-size:1.3em;}
.sy_cj_a a{ text-align:center; margin:0 10px; color:#555;}


/*意见反馈*/
.yjfk_tex{ padding:15px 5px 10px 5px; font-size:1.3em;}
.yjfk_tex textarea{ width:96%; height:100px; border:1px solid #e0dddd; border-radius:5px; padding:2%;}

.yjfk_text{ padding:5px; color:#888; font-size:1.3em; line-height:200%;}
.yjfk_img{ margin-top:15px; width:100%;}
.yjfk_img img{ width:100%;}

.yjfk_fd{ width:100%; max-width:640px; background:#fff; height:40px; font-size:1.3em; position:fixed; bottom:0px; text-align:center;}
.yjfk_fd a{ width:100%; height:40px; line-height:40px; background:#ec5252; color:#fff; font-size:1.2em; display:inline-block;}
.yjfk_fd a:hover{ background:#990101;}

.phb_t1{ background:#fafafa; padding:15px 5px; font-size:1.3em; line-height:180%;}
.phb_t1 h2{ font-weight:normal; font-size:1.2em; color:#000;}
.phb_t1 h2 i{ color:#ec5252; font-size:1.8em;}
.phb_t1 p{ color:#888;}
.phb_t2{ padding:10px 0;}
.phb_t2 li{ width:100%; height:45px; line-height:45px; border-bottom:1px solid #e0e0e0; font-size:1.3em; float:left;}
.phb_t2 li.phb_t2_l1{ color:#000;}
.phb_t2 li.phb_t2_l1 span{ display:inline-block; float:left;}
.phb_t2 li.phb_t2_l1 span.phb_t2_1{ width:16%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.phb_t2 li.phb_t2_l1 span.phb_t2_2{ width:19%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.phb_t2 li.phb_t2_l1 span.phb_t2_3{ width:19%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.phb_t2 li.phb_t2_l1 span.phb_t2_4{ width:17%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.phb_t2 li.phb_t2_l1 span.phb_t2_5{ width:25%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.phb_t2 li.phb_t2_l2{ color:#e60012;}
.phb_t2 li.phb_t2_l2 span{ display:inline-block; float:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.phb_t2 li.phb_t2_l2 span.phb_t2_1{ width:16%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.phb_t2 li.phb_t2_l2 span.phb_t2_2{ width:19%; text-align:center; color:#888888; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.phb_t2 li.phb_t2_l2 span.phb_t2_3{ width:19%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.phb_t2 li.phb_t2_l2 span.phb_t2_4{ width:17%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.phb_t2 li.phb_t2_l2 span.phb_t2_5{ width:25%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.phb_t2 li.phb_t2_l2 span.phb_t2_1 i.phb_t2_11_i1{ background:url(../images/phb_1.png) no-repeat center left; padding-left:25px; background-size:20px auto; display:inline-block;}
.phb_t2 li.phb_t2_l2 span.phb_t2_1 i.phb_t2_11_i2{ background:url(../images/phb_2.png) no-repeat center left; padding-left:25px; background-size:20px auto; display:inline-block;}
.phb_t2 li.phb_t2_l2 span.phb_t2_1 i.phb_t2_11_i3{ background:url(../images/phb_3.png) no-repeat center left; padding-left:25px; background-size:20px auto; display:inline-block;}

.phb_t2 li.phb_t2_l2 span.phb_t2_1 i.phb_t2_11_i4{  display:inline-block;}



.grz_t{ background:#e3393c; padding:30px 5px 20px 5px;text-align:center; position:relative;}
.grz_t_img{ width:80%; text-align:center; margin-left:10%; color:#fff; font-size:1.3em; line-height:180%;}
.grz_t_img img{ width:90px; height:90px; padding:5px; border-radius:100px; border:3px solid #fff; margin-bottom:10px;}
.grz_t_img h2{ font-weight:normal; color:#fff; font-size:1.3em;}
.grz_t_yc{ position:absolute; bottom:20px; left:5px; color:#fff;}
.grz_t_yc1{ border:1px solid #999; background:#fff; width:40px; height:15px; position:relative; border-radius:20px; overflow:hidden; margin-top:2px;}
.grz_t_yc1 i{ position:absolute; top:-1px; left:-1px; width:15px; height:15px; border:1px solid #999; border-radius:20px; background:#fff; display:inline-block;}
.grz_t_yc2{ background:#02d115; }
.grz_t_yc2 i{ position:absolute; top:-1px; left:25px !important; }

.grz_t_ewm{position:absolute; bottom:20px; right:5px; color:#fff; width:30px; height:30px;}
.grz_t_ewm img{ width:30px; height:30px;}
.grhh_d{ background:#fff; padding-left:5px; margin-top:15px;}
.grhh_d li{ width:100%; height:45px; border-bottom:1px solid #e8e8e8; position:relative; line-height:45px; font-size:1.3em;}
.grhh_d li em{ width:20px; height:45px;  display:inline-block; float:left;}
.grhh_d li em.grhh_em1{background:url(../images/hgr_i1.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em2{background:url(../images/hgr_i2.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em3{background:url(../images/hgr_i3.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em4{background:url(../images/hgr_i4.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em5{background:url(../images/hgr_i5.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em6{background:url(../images/hgr_i6.png) no-repeat center; background-size:20px auto;}
.grhh_d li em.grhh_em7{background:url(../images/hgr_i7.png) no-repeat center; background-size:20px auto;}
.grhh_d li i{ position:absolute; top:0px; right:5px; height:45px; background:url(../images/hhr_rigb.png) no-repeat center; width:9px; background-size:9px auto;}
.grhh_d li b{ color:#121212; font-weight:normal; font-size:1.15em; margin-left:10px;}
.grhh_d li span{ float:right; margin-right:20px; color:#e3393c;}



.grzx_h1{ background:#fff; padding-left:5px; margin-top:15px;}
.grzx_h1 li{ width:100%; height:45px; border-bottom:1px solid #e8e8e8; position:relative; line-height:45px; font-size:1.3em;}
.grzx_h1 li em{ width:30px; height:45px;  display:inline-block; float:left;}
.grzx_h1 li em.grzx_h1_l1{background:url(../images/grzx_x1.png) no-repeat center; background-size:30px auto;}
.grzx_h1 li em.grzx_h1_l2{background:url(../images/grzx_x2.png) no-repeat center; background-size:28px auto;}
.grzx_h1 li em.grzx_h1_l3{background:url(../images/grzx_x3.png) no-repeat center; background-size:28px auto;}
.grzx_h1 li em.grzx_h1_l4{background:url(../images/grzx_x9.png) no-repeat center; background-size:30px auto;}
.grzx_h1 li em.grhh_em3{background:url(../images/hgr_i3.png) no-repeat center; background-size:20px auto;}
.grzx_h1 li i{ position:absolute; top:0px; right:5px; height:45px; background:url(../images/hhr_rigb.png) no-repeat center; width:9px; background-size:9px auto;}
.grzx_h1 li b{ color:#121212; font-weight:normal; font-size:1.15em; margin-left:10px;}
.grzx_h1 li span{ float:right; margin-right:20px; color:#888;}

.grzx_5d{ width:100%; padding:8px 0; text-align:center;border-bottom:1px solid #e8e8e8;}
.grzx_5d span{ width:20%; float:left; font-size:1.3em; color:#555;}
.grzx_5d span img{ width:30px; margin-bottom:4px;}

.grzx_h2{ background:#fff; margin-top:15px; border-top:1px solid #e7e7e7;  border-bottom:1px solid #e7e7e7;}
.grzx_h2 li{ width:24.6%; float:left; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; font-size:1.3em; color:#434343; text-align:center; padding:10px 0; margin-bottom:-1px;}
.grzx_h2 li img{ width:30px; margin-bottom:3px;}


/*footer*/
.bottom{ /*background:url(../images/logo.png) center 10px no-repeat #fff;*/ background-size:100px; padding:50px 0 55px; text-align:center; font-family:'simsun';text-align: center;width: 100%;}

.wx_aside{position: fixed;z-index: 100;right: 0;bottom: 80px;width: 40px; background-color:rgba(0, 0, 0, 0.7);border-radius: 3px 0 0 3px;}
.wx_aside .btn_more, .wx_aside .btn_top{width: 40px;height: 40px;font-size: 0;text-indent: -9999em;overflow: hidden; display:block;}
.wx_aside .btn_more:after, .wx_aside .btn_top:after {width: 25px;height: 26px;content: '';margin: 10px;float: left;background:url(../images/footer-icon01.png) no-repeat;background-size: 25px;}
.wx_aside .btn_top{border-top: 1px solid #828282; display:none;}
.wx_aside .btn_more:after {background-position:0 -199px;}
.wx_aside.active .btn_more:after {background-position:0 -174px;}
.wx_aside .btn_top:after {background-position:0 -148px;}

.wx_aside_item{ display:none;position: absolute;top: -230px;right: 0;background-color: #fff;border: 1px solid #ddd;width: 116px;}
.wx_aside.active .wx_aside_item{ display:block;}
.wx_aside_item a {line-height: 44px;height: 44px;overflow: hidden;display: block;margin: 0 15px;border-bottom: 1px solid #eee; font-size:14px;}
.wx_aside_item a:last-child {border-bottom: 0 none;}
.wx_aside_item:before { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 5px solid #ddd; position: absolute; bottom: -6px; right: 14px }
.wx_aside_item:after { content: ''; display: inline-block; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; position: absolute; bottom: -5px; right: 15px }
.wx_aside_item a:before {float: left;content: '\20';width: 23px;height: 24px;background: url(../images/footer-icon01.png) no-repeat;margin: 12px 5px 12px 0;background-size: 25px;}


.hhr_wap{ width:100%; margin:0 auto; max-width:640px;}
.hhr_head1{ width:100%; height:45px; position:relative; background:#ec5252; max-width:640px; position:fixed; top:0px; margin:0 auto; font-size:1.3em; z-index:1000;}
.hhr_head1 a.hhr_head_a1{ position:absolute; top:0px; left:5px; width:14px; height:45px; line-height:45px; background:url(../images/w_t_r.png) no-repeat center; background-size:14px auto; display:inline-block;}
.hhr_head1 h2{ line-height:45px; text-align:center; padding:0 10px; font-weight:normal; color:#fff; font-size:1.4em;}
header{ margin-bottom:45px;}
 
  
.hhr_wap_cnter{float:left; width:100%; max-width:640px; margin-bottom:69px; margin-top:45px;}
 
.center_t1{ background:#fafafa; padding:15px 5px; font-size:1.3em; line-height:180%;}
.center_t1 h2{ font-weight:normal; font-size:1.2em; color:#000;}
.center_t1 h2 i{ color:#ec5252; font-size:1.8em;}
.center_t1 p{ color:#888;}

.center_t2{ padding:10px 0;}
.center_t2 li{ width:100%; height:45px; line-height:45px; border-bottom:1px solid #e0e0e0; font-size:1.3em; float:left;}
.center_t2 li.center_t2_l1{ color:#000;}
.center_t2 li.center_t2_l1 span{ display:inline-block; float:left;}
.center_t2 li.center_t2_l1 span.center_t2_1{ width:18%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.center_t2 li.center_t2_l1 span.center_t2_2{ width:38%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.center_t2 li.center_t2_l1 span.center_t2_3{ width:20%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.center_t2 li.center_t2_l1 span.center_t2_4{ width:20%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}


 
 
.center_t2 li.center_t2_l2{ color:#e60012;}
.center_t2 li.center_t2_l2 span{ display:inline-block; float:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.center_t2 li.center_t2_l2 span.center_t2_1{ width:18%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.center_t2 li.center_t2_l2 span.center_t2_2{ width:38%; text-align:center; color:#888888; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}
.center_t2 li.center_t2_l2 span.center_t2_2 img{ width:30px; height:30px;}
.center_t2 li.center_t2_l2 span.center_t2_3{ width:20%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.center_t2 li.center_t2_l2 span.center_t2_4{ width:20%; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 1%;}


/*footer*/

footer{ position:fixed; bottom:0; left:0; background-color:#f4f6f8; width:100%; font-size:12px;z-index: 100;}
footer div{ width:20%; float:left; border-top:1px solid #ddd;}
footer div a{ display:block; width:100%; text-align:center; color:#47474a;}
footer div i{ display:inline-block; width:23px; height:20px; background:url(../images/gb_footr1.png) no-repeat; margin:6px 0 3px;background-size:25px auto;}
footer div i.vshop,.wx_aside_item a.vshop:before{ background-position:1px -24px;}
footer div i.classify,.wx_aside_item a.classify:before{ background-position:2px -49px;}
footer div i.user,.wx_aside_item a.user:before{ background-position:0 -74.9px;}
footer div i.f-cart,.wx_aside_item a.f-cart:before{ background-position:0 -225px;}
footer div i.attention,.wx_aside_item a.attention:before{ background-position:0 -99px;}
footer div i.collect,.wx_aside_item a.collect:before{ background-position:0 -124px;}
footer div p{ margin-bottom:3px; line-height:14px;font-size:9px;}
footer div.current a{ color:#e73641}
footer div.current p{font-size:12px;}
footer div.current i,footer div:hover i{ background-image:url(../Images/gb_footr2.png);}

footer span{ width:50%; display:block; float:left; text-align:center; line-height:40px; border-top:2px solid #ddd;}
footer span+span{ border-left:1px solid #ddd;}
footer .ft-buy,footer .ft-fav{ float: left;}
footer .ft-buy{ width:60%;}
footer .ft-fav{ width: 40%;}
.footer-buy{ background-color:#f4f6f8; padding:7px 0; border-top:1px solid #ddd; text-align:center; }
.footer-buy .btn{ margin:0 5px;vertical-align: bottom;}
.gly-collect{ border:1px solid #ddd; padding:6px; border-radius:3px; color:#999; font-size:20px; margin-left:5px}
.gly-collect.red{ color:#e3393c; }

.countime{ display: inline-block;line-height: 34px; margin-right: 10px; font-size:14px;}
.countime s{ color:#e73641; font-size:14px;}