<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">

<!-- 
    <bean id="websocket" class="com.nilo.dms.service.system.websocket.WebSocketHandler"/>
    <websocket:handlers allowed-origins="*">
        <websocket:mapping path="/websocket.html" handler="websocket"/>
        <websocket:handshake-interceptors>
            <bean class="com.nilo.dms.service.system.websocket.HandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers> -->



    <bean id="networkServiceFacade" class="com.nilo.dms.service.system.facade.NetworkServiceFacadeImpl"/>
    <bean name="/networkServiceFacade" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="serviceInterface"
                  value="com.nilo.dms.facade.NetworkServiceFacade"/>
        <property name="service" ref="networkServiceFacade"/>
    </bean>


</beans>
