.mobile-mask {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
    width: 100%;
    height:100%;
    overflow:hidden;
}

.mobile-mask-msg {
    position: absolute;
    cursor1: wait;
    left:50%; text-align: center;
    top: 50px;
    width: auto;
    height: 16px;
    padding: 12px 5px 30px 30px;
    background: #fff url('../images/pagination_loading.gif') no-repeat scroll 5px 15px;
    border: 1px solid #fff; border-radius:5px;
    color: #222;
    display: none;
}

.append_more{
    text-align: center;
    padding:5px;
}



html{ overflow:auto;}
body {font-family:'Microsoft YaHei','微软雅黑', "SimSun",Arial,sans-serif,'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; background:#f5f4f9; overflow:auto !important;}
input,h2,h3,h4,h5,h6{font-family:'Microsoft YaHei','微软雅黑', "SimSun",Arial,sans-serif,'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif}
a{ text-decoration:none;}
.clear{ clear:both;}
label,input{}

.j_wap{ width:100%; margin:0 auto;margin-bottom:15px; max-width:640px; position:relative;}
.j_head{ position:relative; position:absolute; top:0px; width:100%; height:40px; line-height:30px; margin:0 auto; max-width:640px; font-size:1.1em; z-index:999; padding:5px 0;}
.j_head_1{ margin:0 50px 0 5px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.j_head_1 a{ color:#fff;}
.j_head_1 em{ width:30px; height:30px; background:url(../images/j_sy_x1.png) no-repeat center; display:inline-block; background-size:23px auto; float:left; margin-right:5px;}
.j_head .j_head_a{ font-size:0px; width:30px; height:30px; background:url(../images/j_sy_x2.png) no-repeat center; display:inline-block; background-size:22px auto;position:relative; position:absolute; top:5px; right:5px;}
.j_head .j_head_a i{ width:12px; height:12px; background:#f46567; display:inline-block; border-radius:12px; position:absolute; top:0px; right:0px;}

.j_top{ line-height:50px; background:#ec5252; width:100%; max-width:640px; height:50px; position:relative;}
.j_top .wap_top_back{ width:30px; height:50px; background:url(../images/j_tj_t1.png) no-repeat center; background-size:27px auto; position:absolute; top:0px; left:5px;}
.j_top .j_top_a2{ width:30px; height:50px; background:url(../images/j_tj_t2.png) no-repeat center; background-size:25px auto; position:absolute; top:0px; right:5px;}
.j_top h2{ margin:0 40px; font-size:1.3em; text-align:center; color:#fff; line-height:50px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.j_top h2 i{ height:10px; background:url(../images/ybb_sj.png) no-repeat center; width:14px; background-size:14px auto; display:inline-block; margin-left:6px;}
.j_top .j_top_english{ width:30px; height:50px; background:url(../images/english.png) no-repeat center; background-size:25px auto; position:absolute; top:0px; right:5px;}
.j_top .j_top_china{ width:30px; height:50px; background:url(../images/china.png) no-repeat center; background-size:25px auto; position:absolute; top:0px; right:5px;}



.j_sy_n1{ width:100%; background:#fff; overflow:hidden;}
.model_banner_title{ width:100%; line-height:38px; height:38px; border-bottom:1px solid #d8d8d8; color:#333333; font-size:1.3em; position:relative;}
.model_banner_title i{ width:4px; background:#2fb3e3; height:20px; display:inline-block; float:left; margin:9px 10px 0 5px;}
.model_banner_title i.j_sy_tit_12{ background:#f46567;}
.model_banner_title i.j_sy_tit_13{ background:#faae36;}
.model_banner_ul{ width:100%; overflow:hidden;}
.model_banner_ul a li{ width:50%; float:left; text-align:center; padding:20px 0; text-align:center; border-bottom:1px solid #d8d8d8; border-right:1px solid #d8d8d8; height:100px;position:relative;}
.model_banner_ul a li.model_banner_li_endl{ border-right:0px !important;}
.model_banner_ul a li img{ width:32px; margin-bottom:3px;}
.model_banner_ul a li{ font-size:1.5em; color:black;}
.model_banner_ul a li i{float:right; background:url(../images/xsy_r.png) no-repeat center; display:inline-block; width:18px; background-size:10px auto; margin-right:5px; height:15px;}

.model_banner_ul a li div.selectedType{ width:100%; height:40px;margin:0px; float:left;
position:absolute; top:60px; left:0px;vertical-align: middle; color: gray;
font-size:0.8em;
}



.model_banner_ul a li input{ width:100%; height:100%;margin:0px; float:left;
  position:absolute; top:0px; left:0px;
z-index: 10;filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0;opacity:0;}


.j_sy_nu_gd img{ margin-top:13px;}
.pane, .view{background-color:#f5f4f9}
.model_banner{ width:100%; background:#fff; overflow:hidden; margin-top:15px;}



.thing_type{ width:100%; overflow:hidden;}
.thing_type a { position: relative;}
.thing_type a li.selected{ background-color:#8e8eff;}
.thing_type a li{ width:33.33%; float:left; text-align:center; padding:5px 0; text-align:center; border-bottom:1px solid #d8d8d8; border-right:1px solid #d8d8d8; height:40px;}
.thing_type a li.model_banner_li_endl{ border-right:0px !important;}
.thing_type a li img{ width:32px; margin-bottom:3px;}
.thing_type a li{ font-size:1.5em; color:#555;}


.other_thing_type{ width:100%; max-width:640px; background:#fff; height:40px; text-align:center;}
.other_thing_type .ckh_xz_inp1{ margin-top:5px; width:100%; border:1px solid #e0dddd; height:40px;font-size:1.5em; color:#555;line-height:40px;}

.other_thing_weight{ width:100%; max-width:640px; background:#fff; height:40px; text-align:center;}
.other_thing_weight .ckh_xz_inp1{ margin-top:5px; width:100%; border:1px solid #e0dddd; height:40px;font-size:1.5em; color:#555;line-height:40px;}


.other_notice_money{ width:100%; max-width:640px; background:#FAFAFA; padding:5px; 
text-align:center;font-size:1.5em;border:1px solid #e0dddd;margin-top:5px;}

.other_thing_show{ width:100%; max-width:640px; background:#fff; height:40px; text-align:center;}
.other_thing_show .ckh_xz_inp1{ margin-top:5px; width:100%; border:1px solid #e0dddd; height:40px;font-size:1.5em; color:#555;line-height:40px;}



.yjfk_tex{ padding:15px 5px 10px 5px; font-size:1.3em;}
.yjfk_tex textarea{ width:100%; height:100px; border:1px solid #e0dddd; border-radius:5px; padding:2%;}

.yjfk_text{ padding:5px; color:#888; font-size:1.1em; line-height:200%;}
.yjfk_img{ margin-top:15px; width:100%;}
.yjfk_img img{ width:100%;}

.yjfk_fd{ width:100%; max-width:640px; background:#fff; height:80px; position:fixed; bottom:0px; text-align:center;}
.yjfk_fd .xieyi{ width:67%;float:left; height:80px; line-height:80px; background:#000; 
filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7;opacity:0.7;
 color:#fff; display:inline-block;
}
.yjfk_fd .xieyi .freight_div_show{
	 height:40px; line-height:40px; width: 100%; float: left; margin: 0 !important; text-align: left; padding-left: 8px;
}
.yjfk_fd .xieyi .agree_checkbox{
	 height:40px; line-height:40px;float:left;text-align:top;
}

.yjfk_fd .xieyi h3{color:#fff;}
.yjfk_fd .xieyi h4{color:#fff;}
.agreed_to{ float: left; line-height: 40px; color: #fff; width: 100%; text-align: left;}
.agreed_to .agree_checkbox{ width: 20px; height: 40px; display: inline-block;background: url(../images/checked_1.png) no-repeat center; background-size:20px ; margin:0 5px 0 8px;}
.agreed_to .agree_checkbox.nav{background: url(../images/checked.png) no-repeat center;background-size:20px ; }
.yjfk_fd a.js_content_tk{ color: #009cff; display: inline-block !important; float: left; width:60%; background: none; font-size: .9rem;}
.freight_div_show i{ font-size: .9rem; margin-left: 10px;}
.freight_div_show span{ color: #f7443d ;}
.yjfk_fd a.submit{ width:33%;float:right; height:80px; line-height:80px; background:#ec5252; color:#fff; font-size:1.5em; display:inline-block;}
.yjfk_fd a.submit:hover{ background:#990101;}




.sfj_nr{ margin-top:2px; background:#fff;}
.sfj_nr li{ width:100%; padding:5px 5px; border-bottom:1px solid #d8d8d8; line-height:200%;height:98px;}
.sfj_nr li i{ background:url(../images/xsy_r.png) no-repeat center; width:9px; height:98px; float:right; background-size:9px auto;}
.sfj_nr li h1{ font-size:1.9em; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:25px !important;}
.sfj_nr li h2{ font-size:1.2em; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:8px !important;}
.sfj_nr li h2 p{overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:0 !important;}
.sfj_nr li h2 p a{ color:#333;}
.sfj_nr li h3{ font-size:1em; color:#999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:8px !important;}
.sfj_nr li h4{ font-size:1.2em; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin:8px !important;}
.sfj_nr .receive_cn{ 
		float:left;text-align:center;
		width: 5rem;
    height: 12rem;
    margin-top:10px;
    margin-left:5px;
    background: url(../images/receive_send.png)0 0  no-repeat;
}
.sfj_nr .receive_en{ 
        float:left;text-align:center;
        width: 5rem;
    height: 12rem;
    margin-top:10px;
    margin-left:5px;
    background: url(../images/receive_send_en.png)0 0  no-repeat;
}



.bottom_window_mask{ width:100%; height:100%; background:rgba(0,0,0,.75); position:fixed; top:0px; left:0px; z-index:99;} 
.bottom_window_content{ width:100%; height:60%; background:#fff; position:relative; position:fixed; bottom:0; right:0; z-index:100; font-size:11pt; overflow:hidden;}  
.bottom_window_topbutton{ padding:5px; line-height:30px; color:#838384; position:relative; text-align:center; overflow:hidden;}
.bottom_window_topbutton a.bottom_window_close{ background:url(../images/close_button.png) no-repeat center; background-size:20px; width:20px; height:40px; position:absolute; top:5px; left:5px; display:inline-block;}
.bottom_window_topbutton a.bottom_window_right_button{ color:#fff; background:#ec5252; padding:1px 6px;position:absolute; top:5px; right:5px; border-radius:4px; height:40px; line-height:40px; margin-top:4px;}
.bottom_window_topbutton h2{line-height:30px; text-align:center; padding:0 10px; font-weight:normal; color:#555; font-size:1.2em;}
.bottom_window{ margin:5px 5px 0 5px; border-bottom:1px solid #eee; line-height:28px; height:30px;}
.bottom_window span{ border-bottom:2px solid #ec5252;display:inline-block; height:28px; line-height:28px; text-align:center; margin:0 10px 0 0; color:#333; font-size:1.15em;}
.bottom_window span.jjhz_2s{ color:#ec5252;}
.jjhz_3{ margin:15px 5px 5px 5px;height:200px; overflow:auto;}
.jjhz_3 span{ color:#555555; line-height:30px; float:left; display:inline-block; margin:0 13px;}
.jjhz_3 span.jjhz_3s{ color:#ec5252;}
.jjhz_3 span.jjhz_3s i{ background:url(../images/jjhz_gg.png) no-repeat center; display:inline-block; width:18px; background-size:18px auto; margin-left:3px; height:15px;}



.xmxz_dl{ padding:15px 5px;}
.xmxz_dl b{ font-weight:normal; font-size:1.2em; color:#000; margin-bottom:15px; display:inline-block;}
.xmxz_dl dl{ background:#fff; border-bottom:1px solid #d8d8d8;margin:0 !important; padding:0 5px;}
.xmxz_dl dl dt{ font-weight:normal; color:#333; padding-top:10px;}
.xmxz_dl dl dt i{ color:#ec5252;}
.xmxz_dl dl dd{line-height:30px;}
.xmxz_dl dl dd span{ margin-right:10px;}
.xmxz_dl dl dd span input{ margin-right:5px;}
.xmxz_dl dl dd .ckh_xz_inp1{ width:80%; border:0px; height:28px; line-height:28px;}
.xmxz_dl dl dd .ckh_xz_sel1{ width:100%; border:0px; height:28px; line-height:28px;}
.xmxz_dl dl dd a.ckh_xz_a1{ float:right; border-radius:3px; background:#ec5252; color:#fff; padding:0 5px; font-size:12px; height:20px; line-height:20px; margin-top:5px; cursor:pointer;}
.xmxz_dl dl dd a.ckh_xz_a1:hover{ background:#940303;}
.xmxz_dl dl dd .bfxx1_xx_tex{ width:100%; height:60px; border:0px; line-height:28px;font-family:'Microsoft YaHei';}


.bottom_input_button { width:100%; max-width:640px; background:#fff; height:40px; position:fixed; bottom:0px; text-align:center;}
.bottom_input_button .bottom_submit_button{ width:100%; height:40px; line-height:40px; color:#fff; border:0px; background:#ec5252; border-radius:5px; }
.bottom_input_button .bottom_submit_button:hover{ background:#940303;}






