<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
						http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd    
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd        
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-autowire="byName">
    <bean class="com.nilo.dms.service.mq.producer.ProducerStartup" init-method="initial"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${mq.namesrvAddr}"/>
        <property name="producers">
            <list>
                <ref bean="messageProducer" />
                <ref bean="notifyMerchantProducer" />
                <ref bean="routeProducer" />
                <ref bean="createDeliveryOrderProducer" />
                <ref bean="phoneSMSProducer" />
            </list>
        </property>
    </bean>

    <bean id="messageProducer" class="com.nilo.dms.service.order.producer.WSMessageProducer"/>
    <bean id="notifyMerchantProducer" class="com.nilo.dms.service.order.producer.NotifyMerchantProducer"/>
    <bean id="routeProducer" class="com.nilo.dms.service.order.producer.RouteProducer"/>
    <bean id="createDeliveryOrderProducer" class="com.nilo.dms.service.order.producer.CreateDeliveryOrderProducer"/>
    <bean id="phoneSMSProducer" class="com.nilo.dms.service.order.producer.PhoneMessageProducer"/>


    <bean class="com.nilo.dms.service.mq.consumer.ConsumerStartup" init-method="initial"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${mq.namesrvAddr}"/>
        <property name="consumers">
            <list>
                <ref bean="messageConsumer" />
                <ref bean="notifyMerchantConsumer" />
                <ref bean="routeConsumer" />
                <ref bean="createDeliveryOrderConsumer" />
                <ref bean="phoneSMSConsumer" />
            </list>
        </property>
    </bean>

    <bean id="messageConsumer" class="com.nilo.dms.service.order.consumer.WSMessageConsumer"/>
    <bean id="notifyMerchantConsumer" class="com.nilo.dms.service.order.consumer.NotifyMerchantConsumer"/>
    <bean id="routeConsumer" class="com.nilo.dms.service.order.consumer.RouteConsumer"/>
    <bean id="createDeliveryOrderConsumer" class="com.nilo.dms.service.order.consumer.CreateDeliveryOrderConsumer"/>
    <bean id="phoneSMSConsumer" class="com.nilo.dms.service.order.consumer.PhoneMessageConsumer"/>

</beans>
